.box-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.box-container {
  display: flex;
  height: 30%;
  width: 30%;
  justify-content: center;
  align-items: center;
  background-color: khaki;
  flex-direction: column;
  border-style: dotted;
  border-color: lightblue;
  border-width: 0.5cm;
}
.container {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: khaki;
  border-style: double;
  border-color: black;
}
.small-box-first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  flex-direction: column;
  height: 80%;
  width: 40%;
}
.small-box-second {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  flex-direction: column;
  height: 80%;
  width: 40%;
}
